* {
    box-sizing: border-box;
}

body{
    background-image: url("/Assets/Images/what-the-hex-dark.png")
}

nav {
    width: 100%;
    background-color: green;
}

.nav-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2.5%;
    width: 95%;
    height: auto;
    background-color: yellow;
}

.wrapper {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.side-bar {
    background-color: blue;
    height: auto;
}

.gif-row{
    background-color: red;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
    flex: 25%;
    max-width: 25%;
    height: auto;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

.gif{
    width: 100%;
}

.gifCon {
    width: 100%;
}

.a {
    width: 10px;
    height: 10px;
}

button {
    background-color: rgba(87, 86, 86, 0.849), 0.849), 0.849)
}

/* .favorite {
    position: absolute;
    top: 1rem;
    bottom: 1rem;
} */

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {

    .wrapper {
        display: flex;
        flex-direction: column;
    }

    .orderB {
        order: 2;
    }

    .orderA {
        order: 3;
    }

    .column {
        flex: 100%;
        max-width: 100%;
    }
}



