* {
    box-sizing: border-box;
}

nav {
    width: 100%;
    background-color: green;
}

.nav-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2.5%;
    width: 95%;
    height: auto;
    background-color: yellow;
}

.wrapper {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.side-bar {
    background-color: blue;
    height: auto;
}

.gif-row{
    background-color: red;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}



